<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container1">
      <div class="footer-container2">
        <h1 class="footer-text textXL"><span>Team CW</span></h1>
        <span class="footer-text2">
          Aryan Chaudhary, Ayush Mishra, Prathyush K, Ishank Bhatnagar
        </span>
        <div class="footer-container3"></div>
      </div>
      <div class="footer-container4"></div>
    </div>
    <div class="footer-container5"></div>
  </div>
</div>
